.select span.main {
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 60px;
}

.items {
    display: none;
    position: absolute;
    border: 1px solid red;
    padding: 5px;
    background-color: white;
}

.select.active .items {
    display: block;
}

.item.selected {
    background-color: #4848cb;
    color: white;

}